<html>
<head>
    <meta charset="UTF-8">
    <title>Tagger</title>
    <script language="javascript" type="text/javascript" src="/static/js/p5.min.js"></script>    
    <script language="javascript" type="text/javascript" src="/static/js/p5.dom.js"></script>    
    <script language="javascript" type="text/javascript" src="/static/js/sketch.js?v={{ v }}"></script>
    <style type="text/css">
        body {
            padding: 0;
            margin: 50;
        }
    </style>
</head>
<body>
</body>
</html>

